[submodule "usbguard"]
	path = usbguard
	url = https://aur.archlinux.org/usbguard.git
[submodule "keybase-bin"]
	path = keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git
[submodule "i3-gaps"]
	path = i3-gaps
	url = https://aur.archlinux.org/i3-gaps.git
[submodule "i3-scrot"]
	path = i3-scrot
	url = https://aur.archlinux.org/i3-scrot.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "vmware-workstation"]
	path = vmware-workstation
	url = https://aur.archlinux.org/vmware-workstation.git
[submodule "yaourt"]
	path = yaourt
	url = https://aur.archlinux.org/yaourt.git
[submodule "polybar"]
	path = polybar
	url = https://aur.archlinux.org/polybar.git
[submodule "polybar-git"]
	path = polybar-git
	url = https://aur.archlinux.org/polybar-git.git
[submodule "libqb-git"]
	path = 150-libqb-git
	url = https://aur.archlinux.org/libqb-git.git
[submodule "freerdp-git"]
	path = 100-freerdp-git
	url = https://aur.archlinux.org/freerdp-git.git
[submodule "remmina-git"]
	path = remmina-git
	url = https://aur.archlinux.org/remmina-git.git
[submodule "sublime-text-dev"]
	path = sublime-text-dev
	url = https://aur.archlinux.org/sublime-text-dev.git
[submodule "timeshift"]
	path = timeshift
	url = https://aur.archlinux.org/timeshift.git
[submodule "peek"]
	path = peek
	url = https://aur.archlinux.org/peek.git
[submodule "fetchpkg"]
	path = fetchpkg
	url = https://aur.archlinux.org/fetchpkg.git
[submodule "fetchmirrors"]
	path = fetchmirrors
	url = https://aur.archlinux.org/fetchmirrors.git
[submodule "pamac-aur"]
	path = pamac-aur
	url = https://aur.archlinux.org/pamac-aur.git
[submodule "package-query"]
	path = package-query
	url = https://aur.archlinux.org/package-query.git
[submodule "openh264"]
	path = 50-openh264
	url = https://aur.archlinux.org/openh264.git
[submodule "200-ncurses5-compat-libs"]
	path = 200-ncurses5-compat-libs
	url = https://aur.archlinux.org/ncurses5-compat-libs.git
[submodule "entityx-git"]
	path = entityx-git
	url = https://github.com/DavidHamburg/aur-entityx-git.git
[submodule "neomutt-git"]
	path = neomutt-git
	url = https://aur.archlinux.org/neomutt-git.git
[submodule "mutt-vid"]
	path = mutt-vid
	url = https://aur.archlinux.org/mutt-vid.git
[submodule "openvpn-update-resolv-conf-git"]
	path = openvpn-update-resolv-conf-git
	url = https://aur.archlinux.org/openvpn-update-resolv-conf-git.git
[submodule "open-vm-tools-dkms"]
	path = open-vm-tools-dkms
	url = https://aur.archlinux.org/open-vm-tools-dkms.git
[submodule "codecs64"]
	path = codecs64
	url = https://aur.archlinux.org/codecs64.git
